**/.ipynb_checkpoints/*
**/*.csv
week8/masterfilelist.txt
**/models/**
models/**/results/
models/**/logs/
models/**/
**/models/**/
!raw/*/
!raw/**/*.py
!raw/ALLSIDES/allsides_articles_toplevel_fromtia.jl
raw/**

models/
*.csv
*.pyc
week6/gdelt/LOOKUP-GKGTHEMES.TXT
week8/junk/label_matches.numbers
.gitignore
.venv/**
.gitignore