models/**/results/
models/**/logs/
models/**/
**/models/**/
!raw/*/
!raw/**/*.py
!raw/ALLSIDES/allsides_articles_toplevel_fromtia.jl
raw/**

models/
*.csv
*.pyc
week6/gdelt/LOOKUP-GKGTHEMES.TXT
week8/junk/label_matches.numbers
.DS_Store/**
.DS_Store
week12/procon_matrix_v1.json
.gitignore
.DS_Store
